src/main/java/td/xml/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:annotation>
    <xs:appinfo>
        schema appinfo
    </xs:appinfo>
</xs:annotation>

    <xs:element name="section">
        <xs:annotation>
            <xs:appinfo>
                section appinfo
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="content" type="xs:string" minOccurs="0"/>
                <xs:element ref="section" minOccurs="0"/>
            </xs:sequence>
            <!-- От до-->
            <xs:attribute name="level" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="document">
        <xs:annotation>
            <xs:appinfo>
                document appinfo
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>

                <!--ВВЕДЕНИЕ-->
                <xs:element ref="section">
                    <xs:annotation>
                        <xs:documentation>
                            Правила введения
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="section"/>
                        </xs:sequence>
                        <xs:attribute name="level" fixed="1"/>
                    </xs:complexType>
                </xs:element>


                <!--ГЛАВЫ-->
                <xs:element ref="section" maxOccurs="10">
                    <xs:annotation>
                        <xs:documentation>
                            Правила 1 уровня
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="section" maxOccurs="10">
                                <xs:annotation>
                                    <xs:appinfo>
                                        text
                                    </xs:appinfo>
                                    <xs:documentation>
                                        Правила 2 уровня
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="section" maxOccurs="10">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Правила 3 уровня
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="section" maxOccurs="10"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="level"/>
                    </xs:complexType>
                </xs:element>

                <!--ЗАКЛЮЧЕНИЕ-->
                <xs:element ref="section">
                    <xs:annotation>
                        <xs:documentation>
                            Правила
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="section"/>
                        </xs:sequence>
                        <xs:attribute name="level"/>
                    </xs:complexType>
                </xs:element>

                <!--СПИСОК ИСПОЛЬЗОВАННЫХ ИСТОЧНИКОВ-->
                <xs:element ref="section">
                    <xs:annotation>
                        <xs:documentation>
                            Правила
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="section"/>
                        </xs:sequence>
                        <xs:attribute name="level"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
            <xs:attribute name="level" fixed="0"/>
            <xs:attribute name="checkAbbr" use="optional" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>