src/main/java/td/xml/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="section">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="content" type="xs:string" minOccurs="0"/>
                <xs:element ref="section" minOccurs="0" maxOccurs="10"/>
            </xs:sequence>
            <xs:attribute name="level" type="xs:int"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>

                <!--ВВЕДЕНИЕ-->
                <xs:element ref="section" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string" default="ВВЕДЕНИЕ"/>
                            <xs:element name="content" type="xs:string"/>
                            <xs:element ref="section" maxOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="level" type="xs:int" default="1" use="required"/>
                    </xs:complexType>
                </xs:element>

                <!--ГЛАВЫ 1 УРОВНЯ-->
                <xs:element ref="section" minOccurs="1" maxOccurs="3">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="content" type="xs:string" minOccurs="0"/>

                            <!--ГЛАВЫ 2 УРОВНЯ-->
                            <xs:element ref="section" minOccurs="3" maxOccurs="10">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="content" type="xs:string" minOccurs="0"/>

                                        <!--ГЛАВЫ 3 УРОВНЯ-->
                                        <xs:element ref="section" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="title" type="xs:string"/>
                                                    <xs:element name="content" type="xs:string" minOccurs="0"/>
                                                    <xs:element ref="section" minOccurs="0"/>
                                                </xs:sequence>
                                                <xs:attribute name="level" type="xs:int" default="3"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="level" type="xs:int" default="2"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="level" type="xs:int" default="1" />
                    </xs:complexType>
                </xs:element>

                <!--ЗАКЛЮЧЕНИЕ-->
                <xs:element ref="section" minOccurs="1" maxOccurs="1" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string" default="ЗАКЛЮЧЕНИЕ"/>
                            <xs:element name="content" type="xs:string"/>
                            <xs:element ref="section" maxOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="level" type="xs:int" default="1" />
                    </xs:complexType>
                </xs:element>

                <!--СПИСОК ИСПОЛЬЗОВАННЫХ ИСТОЧНИКОВ-->
                <xs:element ref="section" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string" default="СПИСОК ИСПОЛЬЗОВАННЫХ ИСТОЧНИКОВ"/>
                            <xs:element name="content" type="xs:string" minOccurs="0"/>
                            <xs:element ref="section" maxOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="level" type="xs:int" default="1" />
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
            <xs:attribute name="level" default="0"/>
        </xs:complexType>
    </xs:element>
</xs:schema>